# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
build/static/js/main.ec4862f5.js.map
build/static/js/main.ec4862f5.js.LICENSE.txt
build/static/js/main.ec4862f5.js
build/static/js/984.61b678b7.chunk.js.map
build/static/js/984.61b678b7.chunk.js
build/static/js/980.2c43eb92.chunk.js.map
build/static/js/980.2c43eb92.chunk.js
build/static/js/96.c04716c1.chunk.js.map
build/static/js/96.c04716c1.chunk.js
build/static/js/88.ee80ec33.chunk.js.map
build/static/js/88.ee80ec33.chunk.js
build/static/js/872.a1ae69dd.chunk.js.map
build/static/js/872.a1ae69dd.chunk.js
build/static/js/856.8fbaf5ab.chunk.js.map
build/static/js/856.8fbaf5ab.chunk.js.LICENSE.txt
build/static/js/856.8fbaf5ab.chunk.js
build/static/js/840.0350a38c.chunk.js
build/static/js/800.19468f16.chunk.js
build/static/js/8.11f94292.chunk.js.map
build/static/js/8.11f94292.chunk.js
build/static/js/736.fc5ce7ab.chunk.js.map
build/static/js/736.fc5ce7ab.chunk.js
build/static/js/700.4e173276.chunk.js.map
build/static/js/700.4e173276.chunk.js.LICENSE.txt
build/static/js/700.4e173276.chunk.js
build/static/js/680.33a77bab.chunk.js.map
build/static/js/680.33a77bab.chunk.js
build/static/js/676.74213149.chunk.js.map
build/static/js/676.74213149.chunk.js
build/static/js/660.5e6e8f57.chunk.js.map
build/static/js/660.5e6e8f57.chunk.js
build/static/js/652.58b38b79.chunk.js.map
build/static/js/652.58b38b79.chunk.js
build/static/js/644.4a9effaa.chunk.js.map
build/static/js/644.4a9effaa.chunk.js
build/static/js/640.8e072188.chunk.js.map
build/static/js/640.8e072188.chunk.js
build/static/js/548.8e07ffd3.chunk.js.map
build/static/js/548.8e07ffd3.chunk.js
build/static/js/540.8ccab801.chunk.js.map
build/static/js/540.8ccab801.chunk.js
build/static/js/468.54d14454.chunk.js.map
build/static/js/468.54d14454.chunk.js
build/static/js/372.945ace2e.chunk.js.map
build/static/js/372.945ace2e.chunk.js
build/static/js/34.cccaa8c8.chunk.js.map
build/static/js/34.cccaa8c8.chunk.js
build/static/js/328.5b12f9ff.chunk.js.map
build/static/js/328.5b12f9ff.chunk.js
build/static/js/24.8bc06779.chunk.js.map
build/static/js/24.8bc06779.chunk.js
build/static/js/180.084ad2d7.chunk.js.map
build/static/js/180.084ad2d7.chunk.js
build/static/js/176.0cc1213b.chunk.js.map
build/static/js/176.0cc1213b.chunk.js
build/static/js/168.8f986e36.chunk.js.map
build/static/js/168.8f986e36.chunk.js
build/static/js/16.d3e82532.chunk.js.map
build/static/js/16.d3e82532.chunk.js
build/static/css/main.8fbfebe0.css.map
build/static/css/main.8fbfebe0.css
build/static/css/77.258cb9b8.chunk.css.map
build/static/css/77.258cb9b8.chunk.css
build/static/css/680.5f59a3d3.chunk.css.map
build/static/css/680.5f59a3d3.chunk.css
build/static/css/260.7b2b7eec.chunk.css.map
build/static/css/260.7b2b7eec.chunk.css
build/static/css/180.7ad3a7e6.chunk.css.map
build/static/css/180.7ad3a7e6.chunk.css
